!!!
%html{ 'lang' => 'de' }
  %head
    %meta{ 'http-equiv' => 'Content-type', 'content' => 'text/html;charset=utf-8' }
    %title= t('header.title')
    = stylesheet_tag 'screen', :media => 'screen, projection'
    = yield(:head)
    /[if IE]
      :javascript
        var ce=document.createElement;ce('header');ce('nav');ce('article');ce('section');ce('footer');ce('aside');ce('time')
  %body{ :class => browser_class }
    #page
      %header
        %nav
          %ul
            %li= link_to t('header.navigation.home'), root_path
            %li= link_to t('header.navigation.users'), users_path
            - if current_user
              %li= link_to t('header.navigation.edit_profile'), edit_user_path(current_user)
              %li= link_to t('header.navigation.new_travel'), new_travel_path
              %li= link_to t('header.navigation.travels'), travels_path
              %li= link_to t('header.navigation.logout'), logout_path, :method => :delete
            - else
              %li= link_to t('header.navigation.login'), login_path
      - if flash[:notice]
        %p.flash= flash[:notice]
      %section
        = yield
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js")
    = javascript_include_merged 'base'
    :javascript
      $(function(){#{yield(:jquery)}})
